<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset-success.css" />
    <title>Yoo! Your password just got changed</title>
  </head>
  <body>
    <p>Your password just got changed. Was this you?</p>
    <p>If this wasn't you, please reach out to support team immediately.</p>
  </body>
</html>
